<button class="toggler-btn" type="button" mat-button color="accent" (click)="drawer.toggle()">
  <mat-icon color="accent">menu</mat-icon>
</button>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <span><a mat-button routerLink="/">MyCategories</a></span>
    <div class="spacer"></div>
    <ul>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Category</a>
      </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>
