<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="categories.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header color="primary">
      {{category.title}}
    </mat-expansion-panel-header>
    <ul>
      <p>Budget's planned part: <span class="percent">{{category.budgetPercent}} %</span></p>
      <li *ngFor="let outcome of category.outcomesList">
        {{outcome.name}}: <span class="cost">{{outcome.cost}} $</span>
      </li>
    </ul>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', category.id] ">Edit</a>
      <button mat-button color="warn" (click)="onDelete(category.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="categories.length <= 0 && !isLoading">
  <p>
    No categories added yet.
  </p>
</mat-card>
