<mat-accordion multi="true" *ngIf="categories.length > 0">
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header color="primary">
      {{category.title}}
    </mat-expansion-panel-header>
    <ul>
      <p>Budget's planned part: <span class="percent">{{category.budgetPercent}} %</span></p>
      <li *ngFor="let outcome of category.outcomesList">
        {{outcome.name}}: <span class="cost">{{outcome.cost}} $</span>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="categories.length <= 0">
  <p>
    No categories added yet.
  </p>
</mat-card>
