
<mat-card>
<form class="example-form" (submit)="onSaveCategory(categoryForm)" #categoryForm="ngForm">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="text"
        placeholder="Title"
        name="enteredTitle"
        [ngModel]="category?.title"
        required
        #title="ngModel">
      <mat-error *ngIf="title.invalid">
        Please enter a category title.
      </mat-error>
    </mat-form-field>

    <p>Part of budget</p>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      min="0"
      [max]="availablePercent"
      (input)="pickPercent($event)"
      name="enteredPercent"
      [ngModel]="category?.budgetPercent"
      >
    </mat-slider>
    <button
      mat-raised-button
      color="primary">
     Add Category</button>
  </form>
</mat-card>
